.locations-grid {
    text-align: center;
    margin: 50px auto;
    width: 1000px;
  }
  
.filter {
      float: right;
  }

.spinner {
    width: 20px;
    margin: 350px auto;
    padding: 40px;
}
  
  