.container {
    width: 1200px;
    margin: 50px auto;
    padding: 40px;
}

.spinner {
    width: 20px;
    margin: 350px auto;
    padding: 40px;
}

.back {
    margin-left: -40px;
}

.main { 
    margin-bottom: 20px;
}

.title {
    font-size: larger;
    margin: 5px 0;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.param-card {
    margin-top: 5px;
    height: 100px;
}

.last-value,
.mesuarements {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #1976d2;
}

.mesuarements { 
    font-size: xx-large;
}

.coords {
    margin-top: 60px;
}

.txt-darkgray {
    color: darkgray;
}

.param-container {
    margin-top: 20px;
    padding: 40px;
}