.location-card {
    text-align: left;
}

.location-card .title {
    font-size: larger;
    margin: 5px 0;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chips {
    margin-top: 20px;
}

.chips div.MuiChip-root {
    margin-right: 5px;
}

.location-detail {
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem 0;
    font-feature-settings: normal;
    list-style: none;
    padding: 0;
    width: 100%;
}

.parameters { 
    height: 40px;
}

.location-detail > dd {
    margin: 0;
}

button.more-details {
    margin: 15px auto 0 auto;
    display: block;
}