.App {
  text-align: center;
  margin: 50px auto;
  width: 1000px;
}

.filter {
    float: right;
}

.app-header{
    width: 100%;
    height: 50px;
    background-color: #1976d2;
    color: white;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    padding: 0px 50px;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: 500;
}

